@tailwind base;
@tailwind components;
@tailwind utilities;

/*  @import url('./tailwind.css');*/
html {
  height: 100%;
}
body {
  min-height: 100%;
}
/*  @charset "utf-8"; */

/*  Import a Google Font */

$tasks-font-family: 'Patrick Hand', cursive;

* {
  font-family: $tasks-font-family;
}

/* Custom css */
