html {
  height: 100%;
}
body {
  min-height: 100%;
}
// @charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

$family-sans-serif: 'Nunito', sans-serif;
