@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}
body {
  min-height: 100%;
}

$tasks-font-family: 'Patrick Hand', cursive;

* {
  font-family: $tasks-font-family;
}
